{% extends 'base.html' %} 

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>Lista de livros</h1>
            <hr>
            <a class="btn btn-success" href="{% url 'addlivro' %}">Adicionar</a>
            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Autor</th>
                    <th>Genero</th>
                </thead>
                <tbody>
                    {% for livro in lista %}
                    <tr>
                        <td>{{ livro.nome }}</td>
                        <td>{{ livro.autor }}</td>
                        <td>{{ livro.genero}}</td>
                        <td>
                            <a  class="btn btn-warning"
                                href="{% url 'editlivro' livro.id %}">Editar</a>
                            <a  href="{% url 'deletelivro' livro.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza?')">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
        
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}