{% extends 'base.html' %} 

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>Lista de livros</h1>
            <hr>
            <a class="btn btn-success" href="{% url 'addlivro' %}">Adicionar</a>
            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Autor</th>
                    <th>Genero</th>
                </thead>
                <tbody>
                    {% for livro in lista %}
                    <tr>
                        <td>{{ livro.nome }}</td>
                        <td>{{ livro.autor }}</td>
                        <td>{{ livro.genero}}</td>
                        <td>
                            <a  class="btn btn-warning"
                                href="{% url 'editlivro' livro.id %}">Editar</a>
                            <a  href="{% url 'deletelivro' livro.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza?')">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if  lista.has_previous %}
                    <a href="?page={{ lista.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                {% endif %}
    
                {% if  lista.paginator.num_pages %}
                <span class="current">
                    {{  lista.number }} de {{  lista.paginator.num_pages }}
                </span>
                {% endif %}
    
                {% if lista.has_next %}
                    <a href="?page={{ lista.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}